<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
</head>
<body>
	<form method="post" action="">
		<p><input type="text" name="name" /></p>
		<p><input type="text" name="bias" value="1" /></p>
		<p><input type="text" name="price" value="1000" /></p>
		<p><textarea name="abstract" rows="5" cols="30"></textarea></p>
		<p><input type="submit" value="送信" /></p>
	</form>
</body>
</html>
