<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<link rel="stylesheet" href="/static/css/cube.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		id = {{id}};
		user_to_plane = {};
		{%for user in game.users%}
			user_to_plane["{{user}}"] = "dir" + {{loop.index}};
		{%endfor%}
	</script>
	<script src="/static/js/main.js" type="text/javascript"></script>
</head>
<body>
	<table class="main" border="1">
		{%for i in range(5)%}
		<tr>
			{%for j in range(5)%}
				<td id="board_{{j}}_{{i}}" class="cube">
				</td>
			{%endfor%}
		</tr>
		{%endfor%}
	</table>
	<ul>
		{%for user in game.users%}
			<li>{{user}}</li>
		{%endfor%}
	</ul>
</body>
</html>
